.hero {
    height: 40vh;
    background-image: url('../../assets/img/bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 200px;
    height: auto;
}
