//variables override

$primary:       #c92c14;
$secondary:     #8B4513;
$success:       #8A9A5B;
$light:         #b3b0b0;
$dark:          #222222;

//custom buttons

@import 'bootstrap/scss/bootstrap';
