.filterSection {
    width: 100%;
  }
  
  .filter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .btnGroup {
      width: 50%;
    }

    .search {
      width: 50%;
    }
  }
  
  @media (max-width: 768px) {
    .filter {
      flex-direction: column;
  
      .btnGroup {
        width: 100%;
        overflow-x: auto; // Permite overflow horizontal
        white-space: nowrap; // Impede quebra de linha no conteúdo
  
        button {
          display: inline-block; // Exibe os botões em linha
        }
      }

        .search {
            margin-top: 5%;
            width: 100%;
        }
    }
  }
  