 .searchDiv {
   display: flex;
   align-items: center;
   justify-content: space-between;
   border: solid 1px;
   border-radius: 25px;
 }

 .search {
   border: none;
   outline: none;
   background-color: transparent;
 }

















 @media (max-width: 768px) {
   .filter {
     flex-direction: column;

     .btnGroup {
       overflow-x: auto;
       white-space: nowrap;
       -webkit-overflow-scrolling: touch;
       scrollbar-width: none;

       &::-webkit-scrollbar {
         display: none;
       }

       button {
         display: inline-block;
       }
     }

     .searchDiv {
       width: 90%;
       margin: 5%;
     }
   }
 }